body{
    font-family: sans-serif;
}

.grid-content{
    border: 5px solid #e1bee7;
    background: #fff1ff;
    display: grid;
    grid-template-columns: repeat(auto-fill, 450px);

}
.item{
    border: 2px solid violet;
}